/* Menu*/
.menu li{
    display:inline-block ;
}
li a, boton{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.8em;
}
.listaDesplegable{
    display: none;
    background-color: ghostwhite;
    position: absolute;

}
.listaDesplegable a{
    color: black;
    display: block;
    text-align: left;
}
.boton:hover .listaDesplegable{
    display: block;
}
li a:hover{
    background-color: red;
}



footer {
	/* background-color: darkgreen;*/
    text-align: center;
  position:fixed;
  bottom: 0;
  width: 10%;
  /* Set the fixed height of the footer here */
  height: 10px;
  
  /*background-image: url('UNAD_2.jpg');*/
  
}